<div class="customer-card">
  <p class="customer-header">Customer Information</p>
  
  <div class="customer-detail">
    <span class="customer-label">Customer ID:</span>
    <span class="customer-value">{{customer.cusId}}</span>
  </div>
  
  <div class="customer-detail">
    <span class="customer-label">Customer Name:</span>
    <span class="customer-value">{{customer.cusName}}</span>
  </div>
  
  <div class="customer-detail">
    <span class="customer-label">Phone Number:</span>
    <span class="customer-value">{{customer.cusPhnNo}}</span>
  </div>
  
  <div class="customer-detail">
    <span class="customer-label">Username:</span>
    <span class="customer-value">{{customer.cusUsername}}</span>
  </div>
  
  <div class="customer-detail">
    <span class="customer-label">Password:</span>
    <span class="customer-value password-field">{{customer.cusPassword}}</span>
  </div>
  
  <div class="customer-detail">
    <span class="customer-label">Email:</span>
    <span class="customer-value">{{customer.cusEmail}}</span>
  </div>
</div>